body{
    font-family: "Segoe UI";
    background-color: #eeeeee;
    color: #626262;
}

button{
    border: 0px;
    color: #eeeeee;
    border-radius: 5px;
    background-color: cornflowerblue;
}

#t{
    color: #3e3e3e;
    margin: 0px;
    font-size: max(4vw, 4vh);
}

#msg{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: none;
    backdrop-filter: blur(5px);
}

#msgbox{
    border-radius: 7px;
    padding: 25px;
    background-color: #eeeeee;
    margin: auto;
    display: inline-block;
    text-align: center;
}

#msgtxt{
    margin: 0px;
    font-size: 2vh;
    max-width: 40vw;
    max-height: 50vh;
    text-align: justify;
}

#msgackbtn{
    margin-top: 20px;
    font-size: 2vh;
    padding: 1vh 3vh;

}

#projgrid{
    display: grid;
    position: absolute;
    left: 0;
    width: 98vw;
    aspect-ratio: 1;
    padding: 1vw;
    gap: 10px;



    grid-template-areas: "a b b d"
                    "a c c d"
                    "e e e f"
                    "e e e f";
}

.projitem{
    border: 1px solid #626262;
    border-radius: 8px;
}