body {
	font-family: Consolas;
	margin: 0px;
	background-color: #fbfbfb;
}

div#header {
	border: 1px solid black;
}

h1 {
	margin: 10px;
}

div#content {
	padding: 15px;
}

iframe {
	border: 1px solid #111111;
	border-radius: 4px;
}

div#msg {
	border: 1px solid #111111;
	border-radius: 5px;
	padding: 15px;
	display: inline-block;
}

div#msg h1 {
	margin: 0px;
}